@import url('https://fonts.googleapis.com/css?family=Press+Start+2P');

html {
  box-sizing: border-box;
  background: #ffca2d;
  font-family: 'Press Start 2P';
  font-size: 14px;
  font-weight: 200;
}

*, *:before, *:after {
  box-sizing: inherit;
}

input {
  width: 100%;
  padding: 20px;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  padding-top: 30px;
  color: #ffca2d;
  text-shadow:
    -4px -4px 0 #4357a3,
    4px -4px 0 #4357a3,
    -4px 4px 0 #4357a3,
    4px 4px 0 #4357a3;
  font-family: 'Press Start 2P';
}
::-moz-placeholder { /* Firefox 19+ */
  padding-top: 30px;
  color: #ffca2d;
  text-shadow:
    -4px -4px 0 #4357a3,
    4px -4px 0 #4357a3,
    -4px 4px 0 #4357a3,
    4px 4px 0 #4357a3;
  font-family: 'Press Start 2P';
}
:-ms-input-placeholder { /* IE 10+ */
  padding-top: 30px;
  color: #ffca2d;
  text-shadow:
    -4px -4px 0 #4357a3,
    4px -4px 0 #4357a3,
    -4px 4px 0 #4357a3,
    4px 4px 0 #4357a3;
  font-family: 'Press Start 2P';
}
:-moz-placeholder { /* Firefox 18- */
  padding-top: 30px;
  color: #ffca2d;
  text-shadow:
    -4px -4px 0 #4357a3,
    4px -4px 0 #4357a3,
    -4px 4px 0 #4357a3,
    4px 4px 0 #4357a3;
  font-family: 'Press Start 2P';
}

.search-form {
  max-width: 400px;
  margin: 50px auto;
}

input.search {
  font-family: 'Press Start 2P';
  padding-top: 35px;
  margin: 0;
  text-align: center;
  outline: 0;
  border: 10px solid #4357a3;
  width: 120%;
  left: -10%;
  position: relative;
  top: 10px;
  z-index: 2;
  border-radius: 5px;
  font-size: 40px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions {
  margin: 0;
  padding: 0;
  position: relative;
  /*perspective: 20px;*/
}

.suggestions li {
  background: white;
  list-style: none;
  border-bottom: 1px solid #D8D8D8;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.14);
  margin: 0;
  padding: 20px;
  transition: background 0.2s;
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
}

.suggestions li:nth-child(even) {
  transform: perspective(100px) rotateX(3deg) translateY(2px) scale(1.001);
  background: linear-gradient(to bottom,  #ffffff 0%,#EFEFEF 100%);
}

.suggestions li:nth-child(odd) {
  transform: perspective(100px) rotateX(-3deg) translateY(3px);
  background: linear-gradient(to top,  #ffffff 0%,#EFEFEF 100%);
}

span.type {
  font-size: 0.8rem;
}

.hl {
  background: #ffca2d;
}
