@import url("https://fonts.googleapis.com/css?family=Oswald");

html,
body {
  margin: 0;
  padding: 0;
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  background: #073b3a;
  text-align: center;
  text-transform: uppercase;
  color: white;
}
